<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <base href="http://localhost:3000"/>
    <title>Hot girl</title>
    <script src="jquery-3.1.1.min.js"></script>
    <script type="text/javascript">
      $(document).ready(() => {
        $('#btn-like').click((e) => {
          e.preventDefault();
          $.get('/like/<%= girl.id %>', data => console.log(data))
        });
      });
    </script>
    <style media="screen">
      .to-right {
        float: right;
      }
      .container{
        width: 300px;
        margin-left: 10px;
      }
      img {
        margin-top: 5px;
        margin-bottom: 5px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h3><%= girl.name%> - MS: 0<%= girl.id%></h3>
      <div class="next-previous">
        <a href="/show/<%= girl.id - 1 %>">Previous</a>
        <a href="/show/<%= girl.id + 1 %>" class="to-right">Next</a>
      </div>
      <img src="images/<%= girl.image%>" alt=""/>
      <div class="like-dislike">
        <a href="#" id="btn-like"><%= girl.like%> Likes</a>
        <a href="#" id="btn-dislike"class="to-right"><%= girl.dislike%> Dislikes</a>
      </div>
    </div>
  </body>
</html>
