<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <base href="http://localhost:3000"/>
    <title>Hot girl</title>
    <script src="jquery-3.1.1.min.js"></script>
    <script type="text/javascript">
      var id = <%= girl.id %>;
      $(document).ready(() => {
        $('#btn-like').click((e) => {
          e.preventDefault();
          $.get('/like/<%= girl.id %>', data =>
            $('#btn-like').html(data + ' Likes'))
        });
        $('#btn-dislike').click(e => {
          e.preventDefault();
          $.get('/dislike/<%= girl.id %>', data =>
            $('#btn-dislike').html(data + ' Dislikes'))
        });
        $(document).on('click', '#btn-next', e => {
          e.preventDefault();
          $.get('/getInfo/' + (id + 1), data => {
            id = data.id;
            console.log('Click');
            $('body').html(
            `<div class="container">
              <h3>${data.name} - MS: 0${data.id}</h3>
              <div class="next-previous">
                <a href="#" id="btn-previous">Previous</a>
                <a href="#" id="btn-next" class="to-right">Next</a>
              </div>
              <img src="images/${data.image}" alt=""/>
              <div class="like-dislike">
                <a href="#" id="btn-like">${data.like} Likes</a>
                <a href="#" id="btn-dislike"class="to-right">${data.dislike} Dislikes</a>
              </div>
            </div>`
          )})
        })

        $('#btn-show').click(() => {
          var value = $('#p-test').attr('abc');
          console.log(value);
        })
        $('#btn-set').click(() => {
          var value = $('#p-test').attr('abc', 'djahfj');
          console.log(value);
        })
      });
    </script>
    <style media="screen">
      .to-right {
        float: right;
      }
      .container{
        width: 300px;
        margin-left: 10px;
      }
      img {
        margin-top: 5px;
        margin-bottom: 5px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h3><%= girl.name%> - MS: 0<%= girl.id%></h3>
      <div class="next-previous">
        <a href="#" id="btn-previous">Previous</a>
        <a href="#" id="btn-next" class="to-right">Next</a>
      </div>
      <img src="images/<%= girl.image%>" alt=""/>
      <div class="like-dislike">
        <a href="#" id="btn-like"><%= girl.like%> Likes</a>
        <a href="#" id="btn-dislike"class="to-right"><%= girl.dislike%> Dislikes</a>
      </div>
    </div>

    <p id="p-test" abc="1"></p>
    <button id="btn-show">Show</button>
    <button id="btn-set">Set</button>
  </body>
</html>
